html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(235, 238, 242);
}
.navbar {
    height: 86px;
    background-color: white;
    margin-top: -17px;
}
.nav-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items {
    margin-left: 50px;
    position: relative;
    top: 41px;
}
.items a {
    text-decoration: none;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.name {
    position: absolute;
    display: flex;
    top: -5px;
    left: 50px;
    color: rgb(165, 159, 159);
    font-family: Arial;
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: 30px;
}
#contact {
    position: relative;
    left: 350px;
    background-color: orange;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    transition: opacity 0.2s;
}
#contact:hover {
    opacity: 0.7;
}
#menu:hover {
    text-decoration: underline;
    color: rgb(255, 166, 0, 0.8);
}
.welcome {
    position: relative;
    left: 300px;
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
}
.welcome h1 {
    font-family: Arial;
    font-size: 70px;
    color: orange;
    font-weight: lighter;
    border: solid 2px;
    border-color: rgb(165, 159, 159);
    position: relative;
    top: 70px;
}

.about-me {
    display: inline-block;
    border: solid 2px;
    border-color: rgb(165, 159, 159);
    position: relative;
    left: 300px;
    top: 80px;
} 
.about-me p {
    width: 550px;
    line-height: 24px;
    font-family: Arial;
    color: rgb(165, 159, 159);
    padding: 10px;
}
.extra-info {
    border: solid 2px;
    border-color: rgb(165, 159, 159);
    height: 410px;
    width: 350px;
    float: right;
    position: relative;
    right: 300px;
    bottom: 50px;
}
.extra-info p {
    text-align: center;
    width: 330px;
    font-family: Arial;
    color: rgb(165, 159, 159);
    line-height: 24px;
    position: relative;
    left: 6px;
    bottom: 50px;
}
.extra-info h1 {
    font-family: Arial;
    font-weight: lighter;
    font-size: 70px;
    position: relative;
    left: 75px;
    bottom: 20px;
    color: orange;
}
.button {
    float: right;
    padding: 10px 40px 10px 40px;
    position: relative;
    left: 260px;
    top: 130px;
    border: solid 2px;
    border-color: rgb(165, 159, 159);
    transition: background-color 0.2s;
}
.button a {
    color: orange;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}
.button:hover {
    background-color: rgb(165, 159, 159);
}
.circle1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: orange;
    position: relative;
    left: 80px;
}
.circle2 {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(165, 159, 159);
    position: relative;
    bottom: 500px;
    left: 200px;
}